  .card {
                    box-shadow: 0px 0px 1px 0px #999;
                    background: #ffffff;
                }

                .main_logo {
                    width: 230px;
                    padding: 0px 20px 0px 20px;
                    /* background-color: #f8f9fa; */
                    border-radius: 5px;
                    /* background: linear-gradient(60deg,#f8f9fa87,#f8f9fae0); */
                    /* box-shadow: 0px 1px 6px 1px rgba(204, 204, 204, 0.43); */
                }

                .dataTable > tbody > tr > td, .dataTable > tbody > tr > th, .dataTable > tfoot > tr > td, .dataTable > tfoot > tr > th, .dataTable > thead > tr > td, .dataTable > thead > tr > th {
                    padding: 8px !important;
                }

                .table .td-actions .btn {
                    margin: 0;
                    padding: 8px;
                }

                .mydiv {
                          background-color: #21252929;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .mydiv2 {
                       background-color: #ffffff;
                       /* padding-left: 5px; */
                }
                .mydiv3{
                        background-color: rgba(204,204,204,.15);
                        padding-left: 10px;
                }
                .mydiv4{
                        background-color: #ededed;
                }
                #frame{
                    width:100%;
                    height:800px;
                }
                .card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
                    margin-top: 15px;
                    color: #ffffff;
                    font-size: 25px;
                    font-weight: 400;
                }
    
        #daily_production, #scrap_production {
            width: 100%;
            height: 400px;
        }
             #overall_oee,#Core_Deposition,#Core_Sinter,#Rod_Elongation,#Clad_Deposition,#Clad_Sinter,#Cone_Preparation,#IPQ,#budget_consumption {
        width: 100%;
        height: 250px;
    }

    .highcharts-pie-series .highcharts-point {
        stroke: silver;
        stroke-width: 1px;
    }

    .highcharts-pie-series .highcharts-data-label-connector {
        stroke: silver;
        stroke-dasharray: 2, 2;
        stroke-width: 2px;
    }
    .card-stats{
        margin-top:30px;
        margin-bottom:30px;
    }
    .main_logo {
    width: 200px;
    padding: 0px 20px 0px 20px;
    /* background-color: #f8f9fa; */
    border-radius: 5px;
    /* background: linear-gradient(60deg,#f8f9fa87,#f8f9fae0); */
    /* box-shadow: 0px 1px 6px 1px rgba(204, 204, 204, 0.43); */
}
.landing-bg {
    background: url(<?php echo base_url();?>Tendance/NewPage/img/img/landing-bg.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.form-div{
    margin: 70px 0 !important;
    padding: 50px !important;
}