
/* ------------Slide ECG file------------- */

body {
	margin: 0px;
	padding: 0px;
	background-color: #ececec;
}
/* Landing CSS Start */
.landing-bg {

background: url(../img/landing-bg.jpg) no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}
.main-body-content-holder {
	padding: 0px;
}
.top-logo-nav-bar {
	width: 100%;
	height: 85px;
	background-color: #ececec;
	border-bottom: 10px solid #16459b;
	padding: 0px 30px;
	padding-right: 0px;
}
.logo-holder {
	padding: 10px 0px;
}
.navigation-holder {
	
}
.main-nav ul{
	margin: 0px;
	padding: 0px;
}
.main-nav ul li {
	display: inline-block;
	padding: 22px 0px;
}
.main-nav ul li a {
	text-decoration: none;
	font-size: 18px;
	padding: 27px 20px;
	color: #000000;
}
.main-nav ul li a .fa {
	font-size: 26px;
}
.main-nav ul li a:hover {
	background-color: #16469d;
	color: #ffffff;
}
.active-nav a, .main-nav ul .active-nav a {
	background-color: #16469d;
	color: #ffffff;
}
.login-link{
	display: inline-block;
	padding: 24px 0px;
	margin-right: 0px;
}
.login-link a{
	text-decoration: none;
	font-size: 18px;
	padding: 27px 40px 28px 40px;
	color: #000000;
	background-color: #ffffff;
	font-weight: 600;
}
.login-link a:hover {
	color: #16459b;
}

.headline-holder {
	width: 100%;
	text-align: center;
	background-color: #3961a3;
	padding: 20px 0px;
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 60px;
}
/*---Slider Start---*/
.dg-container{
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 60px;
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	/* height: 316px; */
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	/* background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3); */
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	/* padding: 41px 0px 0px 1px; */
	border: 4px solid rgba(255,255,255,0.5);
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #000;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	margin-left: 3px;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-center img {
	border: 4px solid rgba(255,255,255,0);
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
/*---Slider End---*/

 #ticker_container{margin-top:6px; width:80%; text-align: center;}
 #newscontent {margin-right: 10px; float: left; color: #ffffff; background-color: #13213d; width: 100%; padding: 10px 35px 10px 50px;}
 #newscontent a {color: #ffffff;}
 #news {display: none;}
 #controls { height: 16px; width: 98%; margin: 0 auto; margin-top: -27px; margin-right: 6px;}
 #news {display: none;}
 .news_tricker{width:80%; margin: 0 auto;margin-top: 5%;}
 #prev_trigger, #pause_trigger, #play_trigger {float: left; }
 #next_trigger {float: right}

.landing-footer {
	background-color: #464650;
	width: 100%;
	color: #ffffff;
	text-align: center;
	bottom: 0px;
	position: absolute;
	padding: 10px;
}



/* Landing CSS End */


@media screen and (max-height: 450px) {

}

@media (max-width:768px){

}

@media (max-width:480px){

}
@media (max-width:320px){

}
